body {
  background-color: #f0f9f4;
}

.documents-container {
  height: -webkit-fill-available;
  margin-left: 250px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: justify;
  font-family: "Poppins";
}

.expansion-container .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.expansion-container .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.expansion-container {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
}

// .mat-expansion-panel {
//   width: 1000px;
// }

.dokumente-title {
  color: #3c8f69 !important;
  font-size: 18px !important;
}

.dokumente-description {
  color: black !important;
  font-size: 17px !important;
  mat-icon {
    color: #3c8f69 !important;
  }
}

.input-files {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input[type="file"] {
  display: none;
}

.custom-input {
  display: inline-block;
  padding: 10px 15px;
  background-color: #3c8f69;
  color: #eef011;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-family: "Poppins";
  &:hover {
    opacity: 0.8;
  }
}

.files-imagess-cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.files-images {
  width: 200px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: white !important;
    color: black !important;
  }
}

@media (width < 1500px) {
  .documents-container {
    padding: 100px 100px 25px 100px;
  }
}
