@import "src/global.scss";

.workshop-request-container {
  height: -webkit-fill-available;
  margin-left: 250px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: justify;
  font-family: "Poppins";
  background-color: #f0f9f4;
}
