@import "src/global.scss";

.button-menu {
  width: 200px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins";
}

.menu-header {
  font-weight: 600;
  cursor: pointer;
  font-family: "Poppins";
}

.menu-button {
  font-family: "Poppins" !important;
}

.toolbar span {
  color: #3c8f69;
  font-size: 18px;
}

.active {
  background-color: #5daa84 !important;
  button {
    span {
      color: white !important;
    }
  }
  mat-icon {
    color: white !important;
  }
}
