<section class="toolbar">
  <div class="logo-cont">
    <img src="/assets/img/gorris_logo.png" alt="">
  </div>

  <div class="menu-list">
    <div (click)="toHome()" [class.active]="isActive('/home')">
      <mat-icon>home</mat-icon>
      <button class="menu-option"><span>Home</span></button>
    </div>
    <div (click)="toDienst()" [class.active]="isActive('/dienstplan')">
      <mat-icon>calendar_view_week</mat-icon>
      <button class="menu-option"><span>Dienstplan</span></button>
    </div>
    <div (click)="toCalendar()" [class.active]="isActive('/Kalender')">
      <mat-icon>calendar_month</mat-icon>
      <button class="menu-option"><span>Kalender</span></button>
    </div>
    <div (click)="toHolidays()" [class.active]="isActive('/urlaubsantrag')">
      <mat-icon>flight</mat-icon>
      <button class="menu-option"><span>Urlaubsantrag</span></button>
    </div>
    <div (click)="toHolidaysResum()" [class.active]="isActive('/urlaubsuebersicht')">
      <mat-icon>playlist_add_check</mat-icon>
      <button class="menu-option"><span>Urlaubs
          Übersicht</span></button>
    </div>
    <div (click)="toWorkShopRequest()" [class.active]="isActive('/werkstattanfrage')">
      <mat-icon>build</mat-icon>
      <button class="menu-option"><span>Reparaturauftrag</span></button>
    </div>
    <div (click)="toInformation()" [class.active]="isActive('/information')">
      <mat-icon>info</mat-icon>
      <button class="menu-option"><span>Information</span></button>
    </div>
    <div (click)="toDocument()" [class.active]="isActive('/dokumente')">
      <mat-icon>folder_open</mat-icon>
      <button class="menu-option"><span>Dokumente</span></button>
    </div>
    <div (click)="toProfil()" [class.active]="isActive('/profil')">
      <mat-icon>person</mat-icon>
      <button class="menu-option"><span>Profil</span></button>
    </div>
  </div>
  <div class="sign-out-button">
    <button mat-menu-item class="button-login" (click)="signOut()"><a>Abmelden</a></button>
  </div>

</section>