<section class="toolbar">
  <div class="logo-cont">
    <img src="/assets/img/gorris_logo.png" alt="">
  </div>
  <div class="button-login" routerLink="/login">
    <a>Login</a>
  </div>
</section>


<section class="impressum-container">
  <div class="container-head">
    <span class="pageTitle">Impressum</span>
  </div>
  <div class="impressum-contain" *ngFor="let contain of impressumContain; let i = index">
    <h3>{{contain.impressumContTitle}}</h3>
    <span>{{contain.impressumContText}}</span>
    <span *ngIf="contain.impressumContText2">{{contain.impressumContText2}}</span>
  </div>
</section>




<!--
    <a target="_blank" href="https://icons8.com/icon/71200/eliminar">Eliminar</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    <a target="_blank" href="https://icons8.com/icon/63312/de-acuerdo">De acuerdo</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    <a target="_blank" href="https://icons8.com/icon/63688/cancelar">Cancelar</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    <a target="_blank" href="https://icons8.com/icon/VW9mAoyk46FP/emoji-circulo-amarillo">emoji-circulo-amarillo</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
  -->