@import "src/global.scss";

body {
  margin: 0 !important;
  background-color: #f0f9f4 !important;
}

.mat-typography {
  font-family: "Poppins";
  margin: 0 !important;
}

.impressum-content {
  font-family: "Poppins";
}

//impressum content

.impressum-container {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  margin-left: 250px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  font-family: "Poppins";
  overflow: scroll;
  background-color: #f0f9f4;
}

.impressum-resum-contain {
  max-height: 600px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  text-align: justify;
  overflow-y: auto;
}

.impressum-contain {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  h3 {
    font-weight: 700;
    text-decoration: underline;
  }
}
