.information-container {
  height: -webkit-fill-available;
  margin-left: 250px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: justify;
  font-family: "Poppins";
  background-color: #f0f9f4;
}

.mat-accordion {
  width: -webkit-fill-available;
  margin: 1rem;
}

.mat-expansion-panel-header-title {
  color: red !important;
  font-size: 20px;
  font-family: "Poppins";
}

.mat-expansion-panel-header-description {
  color: #3c8f69 !important;
  font-size: 18px;
  font-family: "Poppins";
}

.mat-expansion-panel-body {
  padding: 24px !important;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Poppins";
}

.cont-date {
  font-size: 18px;
  display: flex;
  gap: 10px;
  .date {
    color: red !important;
  }

  .time {
    color: #3c8f69 !important;
  }
}

.where {
  font-size: 18px;
  color: blue !important;
}

.size-17 {
  font-size: 17px;
}

.foto-container {
  width: -webkit-fill-available;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;

  img {
    width: 300px;
  }
}

.style-gorris {
  font-size: 20px;
  color: #3c8f69;
}

.style-atb {
  font-size: 20px;
  color: rgba(40, 22, 111, 1);
}

.style-adg {
  font-size: 20px;
  color: rgba(243, 230, 21, 1);
  -webkit-text-stroke: 0.5px rgba(23, 66, 139, 1);
}

@media (width < 1500px) {
  .information-container {
    padding-top: 30px;
    gap: 0;
  }

  .mat-expansion-panel-body {
    padding: 15px !important;
  }

  .size-17 {
    font-size: 15px;
  }

  .style-atb {
    font-size: 18px;
  }

  .style-adg {
    font-size: 18px;
  }

  .style-gorris {
    font-size: 18px;
    color: #3c8f69;
  }

  .cont-date {
    font-size: 15px;
    margin: 0.2rem;
  }

  .where {
    font-size: 15px;
    margin: 0.2rem;
  }

  .time {
    margin: 0.2rem;
  }

  .date {
    margin: 0.2rem;
  }

  .subText {
    margin: 0.2rem;
  }

  .finish {
    margin: 0.2rem;
  }

  .foto-container {
    img {
      width: 240px;
    }
  }
}
