<header>
  <app-header></app-header>
</header>

<div>
  <section class="information-container">
    <div class="container-head">
      <span class="pageTitle">Information</span>
    </div>

    <div class="info-contain">
      <div class="left-container" [style.flex]="leftContainerFlex" (mouseover)="onMouseOver('left')">
        <mat-accordion>
          <mat-expansion-panel hideToggle *ngFor="let info of information" (click)="scrollToTop()">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{info.informationTitle}}
              </mat-panel-title>
              <mat-panel-description *ngIf="panelLeftOpen">
                {{info.informationSubTitle}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="container-info" *ngIf="panelLeftOpen">
              <p class="description size-17" [innerHTML]="info.informationDescription"></p>
              <div class="cont-date">
                <p class="date">{{info.informationDate}}</p>
                <p class="time">{{info.informationTime}}</p>
              </div>
              <p class="where">{{info.informationWhere}}</p>
              <p class="subText size-17">{{info.informationSubText}}</p>
              <p class="finish size-17">{{info.informationFinish}}</p>
              <p class="foot size-17" [innerHTML]="info.informationFoot"></p>
            </div>
            <div class="foto-container" *ngIf="panelLeftOpen">
              <img src="{{info.foto0}}" alt="">
              <img src="{{info.foto1}}" alt="">
              <img src="{{info.foto2}}" alt="">
              <img src="{{info.foto3}}" alt="">
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <div class="right-container" [style.flex]="rightContainerFlex" (mouseover)="onMouseOver('right')">
        <mat-accordion [multi]="false">
          <mat-expansion-panel hideToggle [(expanded)]="panelDriverLicenseOpen" class="gap" (click)="scrollToTop()">
            <mat-expansion-panel-header>
              <mat-panel-title>Führerschein</mat-panel-title>
              <mat-panel-description *ngIf="panelRightOpen">Wie verlängert man es?
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="instructions-renovate" *ngIf="panelRightOpen">
              <div class="instructions">
                <span>Verlängerung der Gültigkeit einer Fahrerlaubnis der Klassen C, C1, CE,
                  C1E, D, D1, DE oder D1E.</span>
              </div>
              <div class="link">
                <span>-</span>
                <a href="https://service.berlin.de/dienstleistung/121634/">Link bei service.berlin.de</a>
              </div>
              <div [innerHTML]="instructionsForUse()" class="instructions-service"></div>
              <div class="instructions-documents">
                <span>- Erforderliche Unterlagen</span>
                <ul>
                  <li>Personalausweis bzw. Pass.</li>
                  <li>Führerschein.</li>
                  <li>1 Lichtbild - Aktuelles biometrisches Foto.</li>
                  <li>Bescheinigung über die ärztliche Untersuchung des Sehvermögens - Nicht älter als 2 Jahre.</li>
                  <li>Bescheinigung über die körperliche und geistige Eignung - Nicht älter als 1 Jahr.</li>
                  <li>Funktions- und Leistungstest - Nicht älter als 1 Jahr; Nur für die Klassen D, D1, DE, D1E ab
                    Vollendung des 50. Lebensjahres bzw. wenn das 50. Lebensjahr überschritten wird.</li>
                </ul>
              </div>
              <div class="instructions-documents">
                <span>- Gebühren</span>
                <ul>
                  <li>43,90€</li>
                </ul>
              </div>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel hideToggle [(expanded)]="panelNewAmbulanceLicenseOpen" class="gap"
            (click)="scrollToTop()">
            <mat-expansion-panel-header>
              <mat-panel-title>P-Schein</mat-panel-title>
              <mat-panel-description *ngIf="panelRightOpen"> Wie beantragt man es?
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="instructions-renovate" *ngIf="panelRightOpen">
              <div class="instructions">
                <span>Fahrerlaubnis zur Fahrgastbeförderung (P-Schein) - Beantragen</span>
              </div>
              <div class="link">
                <span>-</span>
                <a href="https://service.berlin.de/dienstleistung/121622/">Link bei service.berlin.de</a>
              </div>
              <div [innerHTML]="instructionsForUse()" class="instructions-service"></div>
              <div class="instructions-documents">
                <span>- Erforderliche Unterlagen</span>
                <ul>
                  <li>Personalausweis bzw. Pass.</li>
                  <li>Vorlage des Führerscheins.</li>
                  <li>Bescheinigung über die körperliche und geistige Eignung - Nicht älter als 1 Jahr.</li>
                  <li>Bescheinigung über die ärztliche Untersuchung des Sehvermögens - Nicht älter als 2 Jahre.</li>
                  <li>Funktions- und Leistungstest - Nicht älter als 1 Jahr; Nur für die Klassen D, D1, DE, D1E ab
                    Vollendung des 50. Lebensjahres bzw. wenn das 50. Lebensjahr überschritten wird.</li>
                  <li>Nachweis über Schulung in Erster Hilfe.</li>
                </ul>
              </div>
              <div class="instructions-documents">
                <span>- Gebühren</span>
                <ul>
                  <li>221,30€</li>
                </ul>
              </div>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel hideToggle [(expanded)]="panelAmbulanceLicenseOpen" (click)="scrollToTop()">
            <mat-expansion-panel-header>
              <mat-panel-title>P-Schein</mat-panel-title>
              <mat-panel-description *ngIf="panelRightOpen"> Wie verlängert man es?
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="instructions-renovate" *ngIf="panelRightOpen">
              <div class="instructions">
                <span>Fahrerlaubnis zur Fahrgastbeförderung (P-Schein) - Verlängerung</span>
              </div>
              <div class="link">
                <span>-</span>
                <a href="https://service.berlin.de/dienstleistung/324389/">Link bei service.berlin.de</a>
              </div>
              <div [innerHTML]="instructionsForUse()" class="instructions-service"></div>
              <div class="instructions-documents">
                <span>- Erforderliche Unterlagen</span>
                <ul>
                  <li>Personalausweis bzw. Pass.</li>
                  <li>Vorlage des Führerscheins.</li>
                  <li>Vorlage des P-Scheins.</li>
                  <li>Bescheinigung über die körperliche und geistige Eignung - Nicht älter als 1 Jahr.</li>
                  <li>Bescheinigung über die ärztliche Untersuchung des Sehvermögens - Nicht älter als 2 Jahre.</li>
                </ul>
              </div>
              <div class="instructions-documents">
                <span>- Gebühren</span>
                <ul>
                  <li>38,00€</li>
                </ul>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </section>
</div>