<header>
  <app-header></app-header>
</header>

<div>
  <section class="dienst-container">

    <div class="container-head">
      <span class="pageTitle">Dienstplan</span>
    </div>

    <div class="main-container">
      <div *ngFor="let day of week; let i = index" class="day-container" [ngClass]="{'today': isToday(day)}"
        (click)="viewDienst(dienstNumber1, day, dienst1, wagen, driver, sani, relax)">
        <span>{{dienstNumber1}}</span>
        <span>{{day}}</span>
        <span *ngIf="i < 5">{{dienst1}}</span>
        <span *ngIf="i < 5">{{wagen}}</span>
        <span *ngIf="i < 5" class="nameKollegue">{{truncateName(driver, 10)}}</span>
        <span *ngIf="i < 5" class="nameKollegue">{{truncateName(sani, 12)}}</span>
        <span *ngIf="i >= 5">{{relax}}</span>
      </div>
    </div>
    <div class="main-container">
      <div *ngFor="let day of nextWeek; let i = index" class="day-container"
        (click)="viewDienst(dienstNumber2, day, dienst2, wagen, driver, sani, relax)">
        <span>{{dienstNumber2}}</span>
        <span>{{day}}</span>
        <span *ngIf="i === 0 || (i > 1 && i < 6)">{{dienst2}}</span>
        <span *ngIf="i === 0 || (i > 1 && i < 6)">{{wagen}}</span>
        <span *ngIf="i === 0 || (i > 1 && i < 6)" class="nameKollegue">{{truncateName(driver, 10)}}</span>
        <span *ngIf="i === 0 || (i > 1 && i < 6)" class="nameKollegue">{{truncateName(sani, 12)}}</span>
        <span *ngIf="i === 1 || i === 6">{{relax}}</span>
      </div>
    </div>

  </section>
</div>