<header>
  <app-header></app-header>
</header>

<div>
  <section class="home-container">
    <div class="container-head">
      <span class="pageTitle">Home</span>
      <div class="name-container">
        <span class="greeting">{{currentGreeting}}</span>
        <span class="name">{{name}}</span>
      </div>
    </div>

    <div class="main-container">
      <full-calendar [options]="calendarOptions" class="wrapper-calendar container">
        <ng-template #eventContent let-arg class="day-container">
          <i class="day-title">{{arg.event.title}}</i>
        </ng-template>
      </full-calendar>

      <div class="dienst-today">
        <div class="today-title container">
          <a>Dienst heute {{today}}</a>
          <span>06:00-14:00</span>
        </div>
        <div class="today-title container">
          <a>Dienst morgen {{tomorrow}}</a>
          <span>06:00-14:00</span>
        </div>
      </div>

      <div class="driver-license ">
        <div class="car-license container" *ngIf="noCarLicense"
          [ngClass]="{'expiration-one-month': isCarLicenseExpirationOneMonth, 'expiration-three-months': isCarLicenseExpirationThreeMonths}">
          <a>Führerschein Ablaufsdatum</a>
          <div class="datum-license">
            <span>{{ambulanceLicense}}</span>
            <div *ngIf="driveLicenseAlmostExpired" class="help-renovate" (click)="instructionsRenovate()">
              <mat-icon>help</mat-icon>
              <a>{{instructions}}</a>
            </div>
          </div>
        </div>
        <div class="car-license container" *ngIf="noAmbulanceLicense"
          [ngClass]="{'expiration-one-month': isAmbulanceLicenseExpirationOneMonth, 'expiration-three-months': isAmbulanceLicenseExpirationThreeMonths}">
          <a>P-Schein Ablaufsdatum</a>
          <div class="datum-license">
            <span>{{ambulanceLicense}}</span>
            <div *ngIf="driveLicenseAlmostExpired" class="help-renovate" (click)="instructionsRenovate()">
              <mat-icon>help</mat-icon>
              <a>{{instructions}}</a>
            </div>
          </div>
        </div>


      </div>

      <div class="post-container">
        <div class="post-main container">
          <div class="post-title ">
            <mat-icon>mail</mat-icon>
            <a>Posteingang</a>
          </div>
          <div class="post-alert">
            <span>Du hast keine neue Nachricht</span>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>