.home-container {
  height: -webkit-fill-available;
  margin-left: 250px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: justify;
  font-family: "Poppins";
}

.name-container {
  display: flex;
  width: fit-content;
  align-items: center;
  height: 50px;
  gap: 25px;

  .greeting {
    font-size: 27px;
    color: #3c8f69;
    font-weight: 400;
  }
  .name {
    font-size: 30px;
    color: #3c8f69;
    font-weight: 700;
  }
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.container {
  margin: 1rem;
  border: solid 1px #eaeaea;
  box-shadow: 0 0 10px #e4e4e4;
  background-color: white;
  padding: 25px;
}

.wrapper-calendar {
  width: 294px !important;
  height: 380px !important;

  div {
    text-align: center;
  }
}

.fc-toolbar-title {
  color: #3c8f69;
}

a {
  color: #5daa84;
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: #3c8f69;
  a {
    font-size: 18px;
    color: #eef011;
  }
}

//Calendar Size
.fc-theme-standard td,
.fc-theme-standard th {
  height: 20px;
}

.fc .fc-scrollgrid-section-body table,
.fc .fc-scrollgrid-section-footer table {
  width: 240px !important;
  height: 230px !important;
}

.fc-col-header {
  width: 240px !important;
}
//

.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
  min-height: 0;
  position: relative;
}

.dienst-today {
  display: flex;
  flex-direction: column;
}

.today-title {
  display: flex;
  flex-direction: column;
  gap: 10px;

  a {
    font-size: 1.75em;
    color: white;
  }

  span {
    font-size: 20px;
    color: #bbdfc9;
  }
}

.green-gradient-dark {
  background: linear-gradient(#8dc8aa, #225a43);
}

.green-gradient-light {
  background: linear-gradient(#8dc8aa, #1d4837);
}

.driver-license {
  display: flex;
  flex-direction: column;
}

.car-license {
  display: flex;
  flex-direction: column;
  gap: 10px;
  a {
    font-size: 1.75em;
    color: white;
  }

  span {
    font-size: 20px;
    color: #bbdfc9;
  }
}

.expiration-three-months {
  background: linear-gradient(#ffcc99, #ff6600);
}

.expiration-one-month {
  background: linear-gradient(#ff9999, #cc0000);
}

.post-container {
  display: flex;
  flex-direction: column;
}

.post-title {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
  background: white;
  border-bottom: 1px solid #eaeaea;
  mat-icon {
    color: #3c8f69;
  }
  a {
    font-size: 1.75em;
    color: #3c8f69;
  }
}

.post-alert {
  padding-top: 10px;

  span {
    font-size: 18px;
    color: #bbdfc9;
  }
}

.datum-license {
  display: flex;
  gap: 30px;
}

.help-renovate {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;

  mat-icon {
    color: white;
  }

  a {
    font-size: 12px;
  }

  &:hover {
    mat-icon {
      color: rgb(175, 172, 172);
    }
    a {
      color: rgb(175, 172, 172);
    }
  }
}

@media (width < 1500px) {
  .home-container {
    gap: 0;
  }

  .container-head {
    display: flex;
    flex-direction: initial;
    margin: 1rem;
    gap: 50px;
  }

  .wrapper-calendar {
    width: 270px !important;
    height: 360px !important;
  }

  .fc .fc-toolbar-title {
    font-size: 1.3em;
  }

  .fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 1em;
  }

  .today-title {
    a {
      font-size: 1.2em;
    }

    span {
      font-size: 17px;
    }
  }
  .car-license {
    a {
      font-size: 1.2em;
    }

    span {
      font-size: 17px;
    }
  }

  //Calendar Size
  .fc-col-header {
    width: 215px !important;
  }

  .fc .fc-scrollgrid-section-body table,
  .fc .fc-scrollgrid-section-footer table {
    width: 215px !important;
    height: 230px !important;
  }

  //
  .post-title a {
    font-size: 1.3em;
  }

  .post-alert span {
    font-size: 16px;
  }
}
