<header>
  <app-header></app-header>
</header>

<div>
  <section class="holidays-resum">
    <div class="container-head">
      <span class="pageTitle">Urlaubs Übersicht</span>
    </div>
    <div *ngFor="let yearGroup of getHolidaysFromLocalStorage(); let j = index" class="holidaysInYear">
      <div class="holidays-year">
        <span>Urlaub Jahr {{yearGroup.year}}</span>
      </div>
      <div class="holidays-cont" *ngFor="let holidays of yearGroup.holidays; let i = index">
        <div class="holidays-info-cont">
          <div class="holidays-name">
            <span>{{holidays.name}}</span>
            <span>{{holidays.lastName}}</span>
          </div>
          <div class="holidays-dates">
            <div class="holidays">
              <span>Urlaub von:</span>
              <span class="from-to-days">{{formatDate(holidays.holidaysFrom)}}</span>
            </div>
            <div class="holidays">
              <span>Urlaub bis:</span>
              <span class="from-to-days">{{formatDate(holidays.holidaysTo)}}</span>
            </div>
          </div>
          <div class="holidays-notes">
            <span>Notizen:</span>
            <span class="notes">{{holidays.notes? holidays.notes :'Keine Notizen'}}</span>
          </div>
          <div class="holidays-request">
            <span>Beantragt:</span>
            <span>{{holidays.dateRequest}}</span>
          </div>
        </div>

        <div class="holidays-status-cont">
          <div class="status-cont">
            <img *ngIf="holidays.status" src="{{getStatusIcon(holidays.status)}}">
          </div>

          <div class="status-button">
            <button class="button-status" (click)="editHolidaysButton(holidays.id)"
              *ngIf="editHolidays || currentEditingId !== holidays.id">
              Bearbeiten
            </button>
            <button class="button-status" (click)="requestHolidaysCancel(holidays.id)"
              *ngIf="!editHolidays && currentEditingId === holidays.id">
              Abbrechen
            </button>
            <button class="button-status red" (click)="cancelHolidays(holidays.id, holidaysFrom, holidaysTo)"
              *ngIf="!editHolidays && currentEditingId === holidays.id">
              Absagen
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="legend-container" *ngIf="ifHolidays">
      <div class="legend" *ngFor="let icon of legend">
        <span>{{icon.name}}</span>
        <img src="{{icon.icon}}" alt="">
      </div>
    </div>
  </section>
</div>